<header>
  <nav>
    <div class="nav-icon">
      <ion-icon name="reorder-three-outline"></ion-icon>
    </div>
    <div class="logo-container">
      <h1>Backlog <span>Killer</span></h1>
    </div>
  </nav>
</header>
