<header class="bg-gray-800 shadow-lg flex flex-col items-center py-2">
  <nav
    class="
      h-20
      w-full
      px-4
      flex
      items-center
      text-white text-3xl
      justify-between
    "
  >
    <div class="nav-icon group">
      <ion-icon name="reorder-three-outline cursor-pointer"></ion-icon>
      <div
        class="
          pullout-nav
          h-screen
          w-2/4
          fixed
          bg-gray-800
          flex flex-col
          text-white
          -left-60
          top-0
          z-20
          shadow-lg
          px-2
          md:w-1/3
        "
      >
        <div class="login-div py-2">
          <a href="" class="hover:text-red-400">LOGIN</a>
        </div>
        <div class="my-backlog-div py-2">
          <a href="" class="hover:text-red-400">BACKLOG</a>
        </div>
        <div class="now-playing-div py-2">
          <a href="" class="hover:text-red-400">NOW PLAYING</a>
        </div>
        <div class="finished-div py-2">
          <a href="" class="hover:text-red-400">FINISHED GAMES</a>
        </div>
        <div class="pullout-nav-divider h-3/6"></div>
        <div class="logo-container justify-self-end">
          <h1 class="group cursor-pointer">
            <a href="/backlogkiller" class=""
              >Backlog <span class="text-red-400">Killer</span></a
            >
          </h1>
        </div>
      </div>
    </div>
    <div class="logo-container">
      <h1 class="group cursor-pointer hover:text-red-400">
        <a href="/backlogkiller"
          >Backlog
          <span class="text-red-400 group-hover:text-white">Killer</span></a
        >
      </h1>
    </div>
    <div class="user-icon cursor-pointer">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
  </nav>
  <div class="search-div flex w-3/4">
    <form action="" id="search-form" class="flex relative w-full">
      <input
        type="text"
        name="search"
        placeholder="Search Games"
        class="w-full px-2 text-black"
      />
      <a href="" class="bg-opacity-0 absolute right-0 text-2xl"
        ><ion-icon name="search-circle-outline"></ion-icon
      ></a>
    </form>
  </div>
</header>
