<header>
  <nav
    class="
      h-20
      w-full
      px-4
      flex
      items-center
      text-white
      bg-gray-800
      text-3xl
      justify-between
    "
  >
    <div class="nav-icon">
      <ion-icon name="reorder-three-outline"></ion-icon>
    </div>
    <div class="logo-container">
      <h1>Backlog <span class="text-red-600">Killer</span></h1>
    </div>
    <div class="user-icon">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
  </nav>
</header>
