<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <h1>New Game</h1>
    <form action="/backlogkiller" method="post">
      Game Name:
      <input
        type="text"
        name="name"
        placeholder="Name of game with no spaces"
      /><br />
      Game Title:
      <input type="text" name="title" placeholder="Title of game" /> <br />
      Release Date: <input type="text" name="releaseDate" /><br />
      Platform: <input type="text" name="platform" /> <br />
      Genre: <input type="text" name="genre" /><br />
      Description: <textarea name="description"></textarea><br />
      Image: <input type="text" name="img" /><br />
      <input type="text" name="inBacklog" value="<%= false %>" hidden />
      <input type="text" name="inNowPlaying" value="<%= false %>" hidden />
      <input type="text" name="inFinished" value="<%= false %>" hidden />

      <input type="submit" value="Create Game" />
    </form>
  </body>
</html>
